
// PALETA DE COLORES
$color-1: #2e34f1; $color-primary: $color-1;
$color-2: #49cec0; $color-secondary: $color-2;
$color-3: #74b038; $color-info: $color-3;
$color-4: #FFC914;

$color-warning: #ffaa00;
$color-danger: #ef5350;
$color-dark: #181421;
$color-txt-gris: #678098;
$color-txt-gris2: #455367;
$color-gris-claro: #f1f4f5;
$color-gris-clarisimo: #fafafa;

// VARIABLES DEFAULT DE PROYECTO
$bg-color-topbar: #ffffff;
$txt-color-topbar: $color-dark;

$bg-color-sidebar: $color-dark;
$txt-color-sidebar: #fff;
$width-sidebar: 250px; // 240px default

$main-content-padding: 20px 30px;



/*
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$dark: #0d1114;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
*/
