// APP

// fuentes
//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,900&display=swap');
$font-family: 'Nunito'; $font-family-serif: sans-serif;

@import '~font-awesome/scss/font-awesome';
@import 'variables';

// dependencias de cms
@import '../lib/switchery.min.css';
@import '../lib/sweet-alert.css';
@import '../lib/jquery-ui.css';
@import '../lib/dropzone.css';
@import '../lib/summernote.css';
@import '../lib/summernote-bs4.css';
@import '../lib/jquery.fancybox.css';
@import '../lib/bootstrap-timepicker.min.css';
@import '../lib/bootstrap.min.css';
@import '../lib/datatables.css';
@import '../lib/cropper.css';
@import '../minton/core.css';
@import '../minton/components.css';
@import '../minton/menu.css';
@import '../minton/responsive.css';

// estilos mios
@import '../../../publico/css/sass/mixins';
@import 'custom/table1';
@import 'custom/heymodals';
@import 'custom/galeria-dropzone';

// estilos mios custom
@import 'minton'; // ediciones mias a theme permanentes
@import 'snippets';
@import 'custom';
@import 'login';
