//@import "_mixins.scss";
//@import "_variables.scss";

/*LOGIN PAGE*/

.login-body {
    background: $color-dark;
    color: #fff;
}
.login-page {
    max-width: 320px;
    margin: 0 auto;
    padding: 100px 15px 44px;
    min-height: 100vh;

    .logo-cont {
        padding: 0 0 20px;
        text-align: center;
        .logo {
            display: inline-block;
            img {
                max-width: 160px;
            }
        }
    }

    .ult {
        padding-top: 15px;
        .submit-cont {
            position: relative;
            z-index: 2;
        }
        .checkbox-cont {
            position: relative;
            z-index: 1;
            padding: 5px 0 0;

            input {
                position: relative;
                top: 1px;
                margin-right: 4px;
            }
        }
    }
    .validation-summary-errors {
        color: red;
        border: 1px solid red;
        padding: 10px;
        ul {
            margin: 0;
            padding: 0 0 0 15px;
            li {
                padding-left: 2px;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

}
