
html, body {
    font-family: $font-family, $font-family-serif;
    font-size: 15px;
    background: $color-gris-claro;
}

a, a:visited {
    cursor: pointer;
    color: $color-primary;

    &:hover {
        text-decoration: underline;
    }
}

.btn {
    border: 0 !important;
    text-decoration: none !important;

    &.btn-primary {
        background-color: $color-primary !important;
    }

    &.btn-secondary {
        background-color: $color-secondary !important;
    }

    &.btn-info {
        background-color: $color-info !important;
    }

    &.btn-warning {
        background-color: $color-warning !important;
    }

    &.btn-danger {
        background-color: $color-danger !important;
    }
}

.pagination {
    .page-item.active .page-link {
        background-color: $color-primary;
        border-color: $color-primary;
    }
}


/* Estilos para preview de imagenes de file input (tienen que tener un formato en particular) */
.img-preview {
    margin-top: 10px;

    label {
        margin-bottom: 12px;
    }

    .cont {
        .img {
            display: block;
            border: 1px solid #ccc;
            float: left;
            margin-right: 15px;
            width: 70px;
            height: 70px;
            //background-image: url(lib/images/upload.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            background-color: #e6e6e6;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }
        }

        input {
            position: relative;
            margin-top: 7px;
        }

        p {
            padding-top: 20px;
            margin: 7px 0 0;
        }

    }
}

/* MIS TABLAS SORTABLE */
table.heySort {
    tbody {
        td {
            cursor: move;
            height: 62px;
        }
    }
}

div.heySort .sortelem {
    cursor: move;
    display: inline-block;
    width: 520px;
    height: 450px;
    margin-right: 10px;
}

.checkboxes-list {
    ul {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.03);
        padding: 10px 15px;
        max-width: 870px;

        li {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 8px;
            position: relative;

            label {
                display: block;
            }

            span {

            }

            input[type=checkbox] {
                position: relative;
                top: 1px;
                margin-right: 5px;
            }
        }
    }
}

.table {
    tbody {
        tr {
            td {
                ul {
                    padding-left: 14px;

                    li {
                        list-style: square;
                    }
                }
            }
        }
    }
}

.navbar-default {
    //background-color: $dark;
}


#wrapper {
    &.loggedOut {
        .content-page {
            margin-left: 0 !important;
        }
    }

    &.menuOpened {
        .topbar {
            .topbar-left {
                position: relative;
                width: $width-sidebar;
            }
        }

        .side-menu {
            width: $width-sidebar;
        }

        .content-page {
            margin-left: $width-sidebar;
        }
    }
}

.topbar {
    background: $bg-color-topbar !important;
    @include box-shadow(0px 4px 7px rgba(#000, 0.038));
    .topbar-left {
        background: $bg-color-sidebar !important;
        color: #fff;
        width: $width-sidebar;
        @include transition(all 0.2s ease);
        overflow: hidden;
        position: relative;
        border: 0;
        text-align: center;

        a.logo {
            display: inline-block;
            margin-top: 10px;
            height: 50px;
            max-width: 70%;
            width: 100px;
            background-size: contain;
            text-indent: -9999px;
            background-position: 50% 50%;
            background-repeat: no-repeat;

            img {
                width: 115px;
                max-width: 85%;
                display: block;
                margin: 19px auto;
            }
        }
    }

    .button-menu-mobile {
        font-size: 16px;
        background: $bg-color-topbar !important;
        color: #000 !important;
        margin-left: 15px;

        &:hover {
            //color: #fff;
        }
    }

    .navbar {
        height: 70px;
        padding: 0;
        background: $bg-color-topbar !important;

        .container {
            display: block;
            margin: 0;
            width: 100%;
            max-width: 100%;

            .navbar-nav {
                text-align: left;
                float: left;
                margin: 0;
                display: block;

                li.elem {
                    float: left;

                    line-height: 70px;
                    padding: 0px 15px;

                    &.dropdown {
                        .dropdown-menu {
                            background: $color-dark;
                            position: absolute;

                            li {
                                a {
                                    color: #fff;
                                    background: $color-dark;
                                    @include tr(all 0.3s ease);
                                    &:hover {
                                        background-color: lighten($color-dark, 15%)
                                    }
                                }
                            }
                        }
                    }

                    .btn-elem {
                        cursor: pointer;
                        background: transparent;
                        border: 0;
                        margin: 0;
                        color: $color-dark !important;
                        line-height: 70px;
                        padding: 0 15px;
                        position: relative;
                        display: block;
                        height: 100%;
                    }
                }

                &.pull-left {
                    float: left !important;
                }

                &.pull-right {
                    float: right !important;
                }
            }
        }
    }
}

.side-menu {
    @include transition(all 0.2s ease);
    overflow: hidden;
    width: $width-sidebar;
    padding-bottom: 0 !important;
    padding-top: 20px;
    background: $bg-color-sidebar !important;
    box-shadow: 5px 0 7px rgba(#000, 0.025) !important;
    @include box-shadow(4px 0 7px rgba(#000, 0.025));

    .sidebar-inner {
        width: $width-sidebar;
    }

    #sidebar-menu {
        background: transparent;

        hr {
            display: block;
            height: 1px;
            background: rgba(0, 0, 0, 0.05);
            border: 0;
            margin: 15px 0;
        }

        ul {
            li {
                color: $txt-color-sidebar !important;

                a {
                    color: #fff !important;
                    opacity: 0.75;
                    border-left: 2px solid $bg-color-sidebar !important;
                    display: block;
                    font-weight: 300;
                    padding: 18px 30px;
                    @include transition(all 0.2s ease);
                    font-size: 1rem;
                    line-height: 1;

                    .ic, i {
                        opacity: 0.8;
                        display: inline-block;
                        font-size: 18px;
                        line-height: 17px;
                        position: relative;
                        top: 1px;
                        margin-right: 15px;
                        margin-left: 3px;
                        text-align: center;
                        vertical-align: middle;
                        width: 20px;
                        color: inherit !important;
                    }
                    span {
                        font-weight: 400;
                        color: inherit !important;
                    }
                    &:hover {
                        background-color: rgba(#fff, 0.02) !important;
                        opacity: 1 !important;
                    }
                    &.active {
                        border-left: 2px solid $color-primary !important;
                        color: $color-primary !important;
                        opacity: 1;
                        span {
                        }
                    }
                }
            }
        }
    }
}

.waves-effect.waves-primary .waves-ripple {
    background-color: rgba($color-primary, 0.4);
}

.user-detail {
    bottom: 0px;
    padding: 15px 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    .dropup {
        .profile {
            .user-info-span {
                h5 {
                    font-size: 17px;
                }

                p {

                }
            }
        }
    }
}

.content-page {
    @include transition(all 0.3s ease);
    margin-left: $width-sidebar;

    > .content {
        padding: $main-content-padding;
        margin-bottom: 0;
    }
}

.card-box {
    border-radius: 0;
    @include border-radius(4px);
    border: 0;
}

.portlet-contenidos {
    .portlet-title {
        padding-top: 5px;
        color: #505458 !important;
        font-size: 15px !important;
        font-weight: 600;
        letter-spacing: 0.04em;
        line-height: 16px;

        a {
            text-transform: none;
            font-weight: normal;
            margin-left: 5px;
            letter-spacing: normal;
            font-size: 13px;
        }
    }
}

$switchery_h: 14px;
.switchery-small {
    border-radius: 20px;
    height: $switchery_h;
    width: 33px;

    > small {
        height: $switchery_h;
        width: $switchery_h;
    }
}

.page {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;

    .heading {
        @extend %clearfix;
        position: relative;
        //border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        margin: 0 0 15px;

        .crumbs {
            font-size: 0.9rem;
            padding: 8px 0 0;

            li {
                display: inline-block;
                list-style: none;

                a {
                    color: $color-txt-gris;
                }

                &::after {
                    content: '/';
                    display: inline-block;
                    margin: 0 8px;
                    opacity: 0.55;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }

        }

        .section-title {
            font-size: 1.8rem;
            line-height: 2rem;
            margin: 6px 0 20px;
            font-weight: bold;
        }

        .section-description {
            color: $color-txt-gris;
            font-size: 0.9rem;
            margin: 8px 0 20px;
        }

        .ops {
            position: absolute;
            right: 0;
            bottom: 20px;

            form {
                display: inline-block;
                position: relative;
                top: 1px;
                margin-right: 10px;
            }
            .btn {

            }
            .search-list {
                display: inline-block;
                position: relative;
                top: 1px;
                .form-control {
                    width: 144px;
                }
            }
        }
    }

}

.page.edit-page {
    ul.server-validation-errors {
        padding: 4px 0 12px;

        li {
            color: $color-danger;
            list-style: none;

            &::before {
                content: '* ';
            }
        }
    }
}

.media-manager-btn {
    .the-btn {}
    .preview-img {
        width: 60px;
        height: 60px;
        margin: 0 15px 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        background-color: rgba(#ddd, 0.6);
        background-image: url('/a/img/upload.png');
        cursor: pointer;
        float: left;

        &.default-img {
            background-image: none;
            background-size: contain;
        }
        &.selected-img {
            display: none;
        }
    }
    &.preview {
        .the-btn {
            position: relative;
            top: 14px;
            margin-left: 5px;
        }
        .preview-img {
        }
    }
}

#wrapper.enlarged {
    .side-menu #sidebar-menu ul li {
        background: transparent !important;
        .media-manager-btn a {
            padding: 15px 20px;
            i {
                margin-right: 25px;
            }
        }
        a {
            background: transparent !important;
        }
    }
}

.cuenta-dropdown {
    .btn-elem {
        span {
            margin-right: 9px;
        }
    }
}

.notifyjs-corner {

    .notifyjs-wrapper {

        .notifyjs-arrow {

        }

        .notifyjs-container {

            .notifyjs-metro-base {
                @include border-radius(4px);
                overflow: hidden;
                padding: 10px;
                border: 2px solid #fff;

                &.notifyjs-metro-success {

                }

                .image {
                    margin-right: 5px;
                    float: left;
                    display: inline-block;

                    .fa {
                    }
                }

                .text-wrapper {
                    display: inline-block;

                    .title {

                    }

                    .text {

                    }
                }
            }
        }
    }
}

.editar-form {
    max-width: 960px;
    &.extended {
        max-width: 100%;
    }
    //margin: 0 auto;

    .alert.alert-danger {
        ul {
            padding-left: 16px;

            li {

            }
        }
    }

    .form-group {
        .form-control {

        }
        label.error {
            font-size: 1rem;
            font-weight: bold;
            display: block;
            margin-top: 6px;
            &:before {
                content: '* ';
            }
        }
    }

    .btn-cont {
        padding: 25px 0 0;
        text-align: right;
    }
}

.lista-box {
    .table {

    }

    .no-hay {
        padding: 20px 0;

        p {

        }
    }
}

.detalle-contacto {
    max-width: 960px;
    .elem {
        font-size: 1.12em;
        margin: 0;
        padding: 10px 0;
        border-bottom: 1px solid $color-gris-claro;
        &:last-child {
            border: 0;
        }
        span {
            display: inline-block;
            &.dato {
                font-weight: bold;
                margin-right: 4px;
            }
            &.valor {

            }
        }
    }
}

.lista-imgs {

    .elem {
        display: inline-block;
        margin: 10px;
        cursor: move;
        position: relative;
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        @include border-radius(4px);
        overflow: hidden;

        a.img {
            position: relative;
            img {
                width: 100px;
                height: 100px;
                background: $color-gris-claro;
            }
        }
        a.borrar {
            color: $color-danger;
            display: none;
            @include border-radius(2px);
            position: absolute;
            top: 0;
            right: 0;
            padding: 4px 3px 0;
            background: #fff;
            width: 30px;
            height: 30px;
            text-align: center;
        }
        &:hover {
            a.borrar {
                display: block;
            }
        }
    }
}

#dashboard {
    #bienvenida {
        padding: 10px 0 30px;
        h1 {
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            line-height: 1.44;
            max-width: 960px;
        }
        .btns {
            padding: 15px 0 0;
        }
    }
    .card-box {
        h4 {
            font-weight: 900;
            text-transform: uppercase;
            color: $color-1;
            margin: 0px 0 20px;
            padding-bottom: 15px;
            font-size: 15px;
            letter-spacing: 2px;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 55px;
                height: 4px;
                background: $color-1;
            }
        }
        p {
            color: #000;
        }
        .links {
            padding: 12px 0 0;
            ul {
                padding-left: 30px;
                li {
                    list-style: square;
                    padding-left: 0px;
                    a {
                        font-weight: bold;
                    }
                }
            }
        }
        .btns {
            text-align: right;
            padding: 15px 0 0;
        }
    }
}

#loading {
    display: none;
    background: rgba(#fff, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 99999999999;
    position: fixed;
    top: 0;
    left: 0;

    .cont {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .loader {
            text-align: center;
            .gif {

            }
        }
    }
}

#detallePost {
    .campos-dinamicos {
        display: flex;
        flex-wrap: wrap;
        .elem {
            flex: 0 0 50%;
            padding: 15px 0;
            border-bottom: 1px solid #f0f0f0;
            .nombre {
                font-weight: bold;
                margin-bottom: 8px;
            }
            .valor {
                margin-bottom: 0;
            }
        }
    }
}
