//@import "_mixins.scss";
//@import "_variables.scss";

/* CLEARFIX VERGON */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.pad-5 {
	padding: 5px;
}
.pad-15 {
	padding: 15px;
}
.pad-20 {
	padding: 20px;
}
.pad-30 {
	padding: 30px;
}

input[type="file"] {
    cursor: pointer;
}

.va {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.ui-tooltip {
	display: none !important;
}

hr {
	&.i {
		opacity: 0;
		margin: 10px auto;
	}
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.modal-lg {
	width: 900px;
}
.modal-xl {
	width: calc(97vw);
	padding-top: 0;
}
.form-inline {
	display: inline;
}
