
$color-controls: #fff;

.validation-summary-errors {
    background-color: rgba(246, 221, 221, 0.5);
    border: 1px solid #d87373;
    padding: 10px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    ul {
        li {}
    }
}

// ESTILOS DEFAULT DE FORM-CONTROL
.form-control {
    &.error {}
}

.form-control {
    padding: 0.5rem 1rem;
    height: auto;
    font-size: 1.1rem;
    width: 100%;
    @include border-radius(4px);
    &.error {
        border-color: red;
    }
    &:focus {
        background-color: rgba(250, 250, 250, 0.9);
    }
}

label.error {
    color: red;
    font-style: italic;
    font-weight: normal;
    font-size: 1rem;
    margin-top: 8px;
    &::before {
        content: '* ';
    }
}

// ESto abarca todos los inputs
.v-input {
    .v-input__slot {
        //border-color: $color-controls !important;
        border: 0;
        @include border-radius(200px);
        margin-bottom: 0 !important;

        input {
            color: $color-controls !important;
        }
        .v-label {
            color: $color-controls !important;
        }
    }
}

.v-text-field {
    .v-input__control {
        background: none !important;
        .v-input__slot {
            font-size: 1rem !important;
            height: 54px !important;
            min-height: 54px !important;
            border-color: #fff !important;

            .v-label {
                font-size: 0.9rem !important;
                line-height: 1 !important;
                height: 25px !important;
                top: 15px !important;
                //left: 40px !important;
                &.v-label--active {
                    top: 13px !important;
                    opacity: 0.7 !important;
                }
            }
            input, textarea {
                padding: 0px 1px !important;
                font-weight: bold !important;
                font-size: 1rem !important;
                color: $color-controls !important;
            }
            input {
                max-height: 50px !important;
                margin-top: 12px !important;
            }
            textarea {
                margin-top: 22px !important;
            }
        }
    }
    &.v-textarea .v-input__control .v-input__slot {
        height: auto !important;
    }
}


.v-select {
    padding-top: 2px !important;
    .v-input__control {
        background: none !important;
        .v-input__slot {
            //height: 100px;
            &::after, &::before {
                border-color: $color-controls !important;
            }
            .v-select__slot {
                .v-label {
                    //font-size: 34px !important;
                    //height: 40px !important;
                    //line-height: 40px !important;
                    color: $color-controls !important;
                    //top: -20px !important;
                }
                .v-select__selections {
                    .v-select__selection {
                        color: $color-controls !important;
                        font-weight: bold !important;
                        margin-top: 11px !important;
                        //font-size: 40px !important;
                        //padding-top: 20px !important;
                    }
                }
                .v-input__append-inner {
                    .v-icon {
                        color: $color-controls !important;
                        caret-color: $color-controls !important;
                        //font-size: 60px !important;
                    }
                }
            }
        }
    }
}

.v-messages {
    min-height: 0;
}

.form {
    .btn-cont {
        padding: 30px 0 0;
        text-align: right;
    }
}

