.map-viewer {
    opacity: 0;
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;

    &.open {
        z-index: 4000; // menu es 3000
        opacity: 1;
    }

    .map-viewer-overlay {
        position: fixed;
        background: rgba(#000, 0.85);
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .map-viewer-content {
        z-index: 2;
        position: relative;
        width: 80vw;

        .map-viewer-cerrar {
            position: absolute;
            top: 0;
            right: -48px;
            color: #fff;
            font-size: 25px;
            padding: 5px;
            cursor: pointer;
        }
        #google-map {
            height: 44vw;
        }

    }
}
@media only screen and (max-width: 768px) {
    .map-viewer {
        .map-viewer-content {
            width: 100vw;
            .map-viewer-cerrar {
                top: -50px;
                right: 20px;
            }
        }
    }
}