
#header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-h;
    padding: 50px;
    @include tr(all 0.4s ease);
    border: 0 !important;

    .logo {
        position: relative;
        width: auto;
        height: 100%;
        display: inline-block;

        img {
        }
        svg {
            height: 80px;
            @include tr(all 0.4s ease);
            path {
                fill: #fff;
            }
        }
    }
    &.compact {
       /* height: $header-compact-h;
        //border-bottom: 1px solid #333;
        padding: 11px 24px;
        //background-color: rgba($color-1, 1);
        .logo {
            img {
                height: 50px;
            }
        }*/
    }
}

#menu {
    float: right;
    padding: 45px 105px 0 0;
    z-index: 120;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.4s ease;
    display: flex;

    .ul-nav {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            margin-left: 15px;
            a {
                display: block;
                text-decoration: none !important;
                color: #000;
                letter-spacing: 1px;
                opacity: 0.85;
                padding: 4px 0 14px;
                position: relative;
                @include tr(all 0.3s ease);
                font-size: 15px;
                font-weight: 700;

                &:after {
                    content: '';
                    opacity: 0;
                    width: 0%;
                    left: 50%;
                    margin-left: 0;
                    height: 4px;
                    background: $color-1;
                    position: absolute;
                    bottom: 0;
                    @include border-radius(3px);
                    @include tr(all 0.4s ease);
                }

                &.router-link-active {
                    opacity: 1;
                    &:after {
                        opacity: 1;
                        width: 100%;
                        margin-left: -50%;
                    }
                }
                &:hover {
                    opacity: 1;
                }
            }
            &.active {
                a {
                    //color: lighten($color-2, 8%);
                    opacity: 1;
                    &:after {
                        width: 60%;
                        margin-left: -30%;
                        opacity: 1;
                    }
                }
            }
            &.icon-link {
                margin-left: 25px;
                a {
                    i {
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
    }
    .redes {
        margin-left: 10px;
        a {
            display: inline-block;
            padding: 4px 4px 0;
            img {
                height: 22px;
            }
        }
    }
    /*&.compact {
        padding: 20px 30px;
    }*/
}

#sidemenu_overlay {
    display: none;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &.open {
        opacity: 1;
        z-index: 130;
    }
}

#sidemenu_btn {

    cursor: pointer;
    display: none;
    right: 30px;
    top: 30px;

    position: fixed;
    z-index: 150;
    color: #fff;
    width: 30px;
    height: 24px;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $color-1;
        border-radius: 0px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 5px;
        }
        &:nth-child(2), &:nth-child(3){
            top: 13px;
        }
        &:nth-child(4) {
            top: 21px;
        }

    }

    &.right {
        left: auto;
        right: 35px;
    }
    /*&.compact {
        right: 30px;
        top: 19px;
    }*/
    &.open {
        span {
            background-color: #fff;
            &:nth-child(1) {
                top: 8px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 21px;
                width: 0%;
                left: 50%;
            }
        }
    }

}

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Estilos mas custom por sitio del menu


// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 1024px) {
    #menu .ul-nav li a {
        font-size: 0.85rem;
    }
    #header .logo img {
        height: 85px;
    }
}

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media only screen and (max-width: 992px) {
    #menu {
        //padding-right: 44px;
        .ul-nav li {
            margin-left: 8px;
            a {
                font-size: 1rem;
            }
            &.icon-link {
                margin-left: 0;
            }
        }
    }

}

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media only screen and (max-width: 768px) {
    /*#header {
        padding: 51px 37px 0;
    }*/
    #sidemenu_btn, #sidemenu_btn.compact {
        display: block;
        right: 30px;
        top: 30px;
    }
    #menu {
        float: none;
        position: fixed;
        top: 0;
        right: 0;
        left: auto;
        z-index: 145;
        background: $color-1;
        width: 70vw;
        height: 100vh;
        padding: 100px 20px 70px !important;
        transition: all 0.44s ease;
        @include translate(100vw, 0);
        opacity: 0;
        display: block;

        .nav {
            .ul-nav {
                li {
                    display: block;
                    margin: 0 auto;
                    a {
                        opacity: 1;
                        padding: 15px;
                        font-size: 1.2rem;
                        color: #fff;
                    }
                    &.active {
                        a:after {
                            left: 15px;
                            bottom: 7px;
                            margin-left: 0;
                            background: #fff;
                            width: 34px;
                        }
                    }
                }
            }
        }
        .redes {
            margin-top: 33px;
        }
        &.open {
            @include translate(0,0);
            opacity: 1;
        }
    }

    #sidemenu_overlay {
        display: block;
    }
}

@media only screen and (max-width: 550px) {

    #header {
        padding: 20px 25px 0;
        .logo img {
            height: 90px;
        }
    }

    #menu {
        width: 85vw;
        padding: 100px 30px 30px;
        transition: all 0.44s ease;

        .ul-nav {
            li {
                margin-bottom: 8px;
                a {
                    padding: 10px;
                    font-size: 1rem;
                }
            }
        }
    }
}

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
