
.color-primary,
.color-1 {
    color: $color-primary;
}

.color-2 {
    color: $color-2;
}

.bg-primary {
    background-color: $color-primary;
    color: #fff;
}

.bg-gris-claro {
    background-color: $color-gris-claro;
    color: #000;
}

.page {
    position: relative;
    padding: 0;
}

.sec {
    position: relative;
    padding: $sec-padding;
    z-index: 1;
    .sec-btn-cont {
        padding: 64px 0 0;
        text-align: center;
    }
}

.heading {
    text-align: center;
    margin: 0 auto 64px;
    max-width: 600px;

    h1 {
        font-weight: bold;
    }
}

$page-intro-h: 444px;

.page-intro {
    position: relative;
    height: $page-intro-h;
    overflow: hidden;
    .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0.6;
        background: #000;
    }
    .cont {
        position: relative;
        z-index: 1;
        text-align: center;
        height: 100%;
        max-width: 650px;
        margin: 0 auto;
        display: flex;
        padding: 50px 20px 0;
        flex-direction: column;
        justify-content: center;
        h1 {
            color: #fff;
        }
        .bajada {
            color: #fff;
        }
        .btn-cont {
            padding: 55px 0 0;
        }
    }
    .ops {
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 100%;
        padding: 30px;
        text-align: left;
        a {
            color: #fff;
        }
    }
}
