.solid-tabs {
    .solid-tabs-btn {

    }
    .solid-tabs-content {
        max-height: 0;
        opacity: 0;
        transition: all 0.2s ease;
        overflow: hidden;
        @include translate(0,80px);
        &.active {
            opacity: 1;
            max-height: 999999999999999999999px;
            transition: all 0.5s ease;
            transition-delay: 0.25s;
            @include translate(0,0);
        }
    }
}
