
.video-modal {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    .cerrar {
        position: fixed;
        top: 7px;
        right: 13px;
        color: #fff;
        z-index: 4003;
        padding: 7px;
    }
    .bg {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4001;
        background: rgba(0,0,0,0.8);
    }
    .cuadro {
        @include border-radius(8px);
        // background: #000;
        // padding: 30px;
        position: fixed;
        z-index: 4002;
        top: 50px;
        left: 50%;
        width: 70%;
        margin-left: -35%;
        // height: 100vh;
        .cont {
            position: relative;

            iframe {
                width: 100%;
                height: calc(100vh - 100px);
                border: 0;
            }
        }
    }
}

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 1400px) {
    .video-modal .cuadro {
        width: 90%;
        margin-left: -45%;
        .cont iframe {

        }
    }
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 768px) {
    .video-modal .cuadro {
        width: 100%;
        margin-left: -50%;
        .cont iframe {
            height: calc(60vw);
            margin-top: 44px;
        }
    }
}
