

////// COLORES //////

$dark:			#2C2C2C;
$primary: 		#009B3F;
$secondary: 	$dark;

$body-color:	$dark;


////// TYPOGRAFIA //////
$enable-responsive-font-sizes:	true;
	
$font-primary:				'Muli', sans-serif;
$font-secondary:			$font-primary;

$font-weight-bold:			700;
$font-weight-bolder:		800;

$font-size-base:			1rem;
$h1-font-size:              $font-size-base * 6.5;
$h2-font-size:              $font-size-base * 3;
$h3-font-size:				$font-size-base * 2.4;

$font-family-base: 			$font-primary;
$headings-font-family:      $font-secondary;
$headings-font-weight:		$font-weight-bolder;
$line-height-base:			1.2;


//Header
$header-height-sm:		54px;
$header-height-md:		74px;
$header-height-lg: 		94px;


//Footer
$footer-height-lg:		64px;

//Espacio reservado de pantalla para header y footer fixed
$fixed-space-sm: 		$header-height-sm;
$fixed-space-md:		$header-height-md + $footer-height-lg;
$fixed-space-lg:		$header-height-lg + $footer-height-lg;


$grid-breakpoints: (
  	xs: 0,
  	sm: 576px,
  	md: 768px,
  	lg: 992px,
  	xl: 1200px,
	xxl: 1367px
);

//Incluyo las variables default del bootstrap
@import "bootstrap/_variables";

