//Incluyo variables y funciones de bootstrap para uso en mis estilos
@import "bootstrap/functions";
@import "_variables";
@import "bootstrap/mixins";

@import '~toastr/toastr';

:focus{
	outline: none;
}

.wow{
	visibility: hidden;
}

.wrap{
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}

.mw-960{max-width: 960px}


figure{
	margin-bottom: 0;
}

.bg-cover{
	background-size: cover;
	background-position: center center;
}

img{
	max-width: 100%;
	height: auto;
}

.text-hidden{
	height: 1px;
	overflow: hidden;
	padding-top: 1px;
	font-size: 0.001em;
	opacity: 0;
	margin: 0;
}


/***** STYLE ******/
html{
	scroll-behavior: smooth;
}

#hdr{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $header-height-sm;
	z-index: 5;
	background-color: transparent;
	transition: all ease 0.2s;
	
	.logo{
		display: inline-block;
		width: 84px;
		background-image: none;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: left top;
	}
	
	&.no-logo{
		
		.logo{
			display: none;
		}
	}
	
	
	.btn-green{
		background-color: $primary;
		color: white;
		vertical-align: middle;
		font-size: 12px;
		
		&.active{
			display: none;
		}
	}
	
	a.btn-menu{
		display: inline-block;
		width: 36px;
		text-decoration: none;
		position: relative;
		vertical-align: middle;
		margin-left: 15px;
		z-index: 25;
		
		span{
			display: none;
		}
		
		&::before, &::after{
			content: "";
			display: block;
			height: 6px;
			border-radius: 3px;
			background-color: $dark;
			transition: all ease 0.2s;
		}
		
		&::before{
			margin-bottom: 8px;
		}
	}
	
	&.fixed-hdr, &.green-hdr{
		background-color: $primary;
		box-shadow: $box-shadow;
		
		.btn-green{
			background-color: white;
			color: $primary;
		}
	}
	
	&.light-hdr, &.fixed-hdr, &.green-hdr{
		
		.logo{
			background-image: url("/p/img/logo-blanco.png");
			
			img{
				opacity: 0;
			}
		}
		
		a.btn-menu{
			
			&::before, &::after{
				background-color: white;
			}
		}
	}
	
	//Tablets o más
	@include media-breakpoint-up(md){
		height: $header-height-md;
		
		.btn-green{
			font-size: 1rem;
		}
		
		a.btn-menu{
			width: 48px;
			margin-left: 24px;

			&::before, &::after{
				height: 8px;
				border-radius: 4px;
			}

			&::before{
				margin-bottom: 10px;
			}
		}
	}
	
	//Desktop
	@include media-breakpoint-up(lg){
		height: $header-height-lg;
		
		.logo{
			width: 150px;
		}
	}
}

.padding-header{
	padding-top: $header-height-sm !important;
}

@include media-breakpoint-up(md){
	.padding-header,
	.padding-header-md{
		padding-top: $header-height-md !important;
	}
}

@include media-breakpoint-up(lg){
	.padding-header,
	.padding-header-md,
	.padding-header-lg{
		padding-top: $header-height-lg !important;
	}
}


#menu{
	//display: none;
	position: fixed;
	z-index: 20;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 0;
	overflow: hidden;
	background-color: white;
	transition: width ease 0.3s;
	font-size: 1.2rem;
	
	.wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 100%;
		overflow: auto;
		
		.nav{
			padding-top: 80px;
		}
	}
	
	.nav-link{
		padding: 15px;
		
		&.active{
			font-weight: $font-weight-bold;
			text-decoration: underline;
		}
	}
	
	@include media-breakpoint-up(md){
		font-size: 1.5rem;
		
		.wrapper{
			width: 350px;
			
			.nav{
				padding-top: 100px;
			}
		}
		
		.nav-link{
			padding: 15px 25px;
		}
	}
}

.mn-overlay{
	position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 18;
    display: none;
}

body.mostrar-menu-ppal{
	overflow: hidden;
	
	#hdr{
		
		a.btn-menu{
			
			&::before, &::after{
				background-color: $dark;
			}
			
			&::before{
				transform: translateY(7px) rotate(135deg);
			}

			&::after{
				transform: translateY(-7px) rotate(-135deg);
			}
		}
	}
	
	#menu{
		width: 250px;
		box-shadow: $box-shadow;
	}
	
	.mn-overlay{
		display: block;
	}
	
	@include media-breakpoint-up(md){
		
		#hdr{
		
			a.btn-menu{

				&::before{
					transform: translateY(9px) rotate(135deg);
				}

				&::after{
					transform: translateY(-9px) rotate(-135deg);
				}
			}
		}
		
		#menu{
			width: 350px;
		}
	}
}

#main{
	position: relative;
	z-index: 2;
	overflow: hidden;
	
	.main-content{
		min-height: calc(100vh - 200px);
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
	@include media-breakpoint-up(md){
		padding-bottom: $footer-height-lg;
		
		.main-content{
			min-height: calc(100vh - #{$footer-height-lg});
			
			&.centered{
				display: flex;
				align-items: center;
				
				&>div{
					width: 100%;
				}
			}
		}
		
		&.padding-header{
			
			.main-content{
				min-height: calc(100vh - #{$fixed-space-md});
			}
		}
	}

	@include media-breakpoint-up(lg){
		
		
		&.padding-header{
			
			.main-content{
				min-height: calc(100vh - #{$fixed-space-lg});
			}
		}
	}
	
}


.intro-home{
	
	@include media-breakpoint-up(lg){
		min-height: calc(100vh - #{$fixed-space-lg});
		display: flex;
		align-items: center;
	}
	
	.intro-omni{
		text-align: justify;

		figure{
			width: 70%;
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}

		@include media-breakpoint-up(md){
			padding-top: 60px;
		}

		@include media-breakpoint-up(lg){
			max-width: 500px;

			figure{
				max-width: none;
			}
		}

	}
}

.col-servicios-home{
	
	.inner{
		width: 100%;
	}
	
	@include media-breakpoint-up(lg){
		min-height: calc(100vh - #{$footer-height-lg});
		display: flex;
		align-items: center;
	}
} 

.servicios-home{
	margin-left: -30px;
	
	.box-service-home{
		opacity: 0;
	}
	
	&.completado{
		
		.box-service-home{
			opacity: 1;
		}
	}
}

.box-service-home{
	//position: relative;
	margin-bottom: 30px;
	width: 100%;
	padding-left: 30px;
	
	&>a{
		display: flex;
		position: relative;
		height: 250px;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		transition: all ease 0.2s;
		background-size: cover;
		background-position: center center;
		background-color: $secondary;
		
		span{
			text-transform: uppercase;
			color: white;
			transition: all ease 0.2s;
			position: relative;
			z-index: 2;
		}
		
		&::before{
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(44,44,44,0.55);
			z-index: 1;
		}
		
		&:hover{
			
			&::before{
				background-color: rgba(0,155,63,0.7);
			}
			
			span{
				transform: scale(1.2);
			}
		}
	}
	

	
	@include media-breakpoint-up(md){
		width: 50%;
		
		&:nth-child(4n+2), &:nth-child(4n+3){
		
			&>a{
				height: 400px;	
			}
		}
	}
	
	@include media-breakpoint-up(lg){
		//max-height: calc()
		
		&:nth-child(4n+2), &:nth-child(4n+3){
		
			&>a{
				height: 450px;
				max-height: 50vh;
			}
		}
		
		&:first-child{
			padding-top: 30px;
		}
		
		&:nth-child(2){
			padding-top: $header-height-lg;
		}
	}
	
	@include media-breakpoint-up(xxl){
		
		&>a{
			height: 250px;
			max-height: 60vh;	
		}

		&:nth-child(4n+2), &:nth-child(4n+3){
		
			&>a{
				max-height: 55vh;
			}
		}
	}
}



//ABOUT
.btn-about{
	display: block;
	position: absolute;
	width: 36px;
	height: 54px;
	z-index: 10;
	bottom: 125px;
	transform: translateY(50%);
	transition: all ease 0.2s;
	filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
	
	span{
		display: none;
	}
	
	&::before, &::after{
		content: "";
		display: block;
		width: 40px;
		height: 6px;
		border-radius: 3px;
		background-color: white;
		transition: all ease 0.2s;
		position: absolute;
	}
	
	&.btn-prev{
		left: 20px;
		
		&::before{
			transform: rotate(135deg);
			top: 12px;
			left: 0;
		}
		
		&::after{
			transform: rotate(-135deg);
			bottom: 12px;
			left: 0;
		}
	}
	
	&.btn-next{
		right: 20px;
		
		&::before{
			transform: rotate(-135deg);
			top: 12px;
			left: 0;
		}
		
		&::after{
			transform: rotate(135deg);
			bottom: 12px;
			left: 0;
		}
	}
	
	&.slick-disabled{
		visibility: hidden;
	}
	
	@include media-breakpoint-up(md){
		bottom: 200px;
	}
	
	@include media-breakpoint-up(lg){
		bottom: 50%;
		
		&.btn-prev{
			filter: none;
			
			&::before, &::after{
				background-color: $dark;
			}
		}
	}
	
	
}

.about-textos{
	position: relative;
	z-index: 5;
}


.slider-about-textos{
	position: relative;
	padding: 0 15px;
	margin: 0 0 30px 0;
	
	.slick-list{
		//overflow: visible;
	}
	
	.item{
		opacity: 0;
		transition: opacity 02s ease;
		
		&.slick-active, &.slick-current{
			opacity: 1;
		}
	}
	
	.info-about{
		
		.h1{
			line-height: 1;
			margin-bottom: 0.4em;
		}
		
		p:last-child{
			margin-bottom: 0;
		}
	}
	
	@include media-breakpoint-up(md){
		
	}
	
	@include media-breakpoint-up(lg){
		margin: 0;
		padding: 0;
		
		.item{
			min-height: 60vh;
			display: flex;
			align-items: center;
		}
		
		.info-about{
			width: 100%;
			
			.h1{
				overflow: visible;
				max-width: 500px;
			}
		}
		
		.title, .desc{
			padding-left: 84px;
			padding-right: 20px;
		}
	}
	
	@include media-breakpoint-up(xxl){
		.title, .desc{
			padding-left: 0;
			//max-width: 450px;
		}
	}
}



.slider-about-images{
	position: relative;
	
	.slick-list{
		overflow: visible;
	}
	
	.item{
		
		
		figure{
			height: 250px;
			background-size: cover;
			background-position: center center;
			overflow: hidden;
			position: relative;
			
			img{
				opacity: 0;
			}
			
			&::before{
				display: block;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(44,44,44,0.55);
				opacity: 1;
				transition: opacity ease 0.2s;
			}
		}
		
		&.slick-active, &.slick-current{
			
			figure{
				
				&::before{
					opacity: 0;
				}
			}
		}
	}
	
	@include media-breakpoint-up(md){
		padding: 0 100px 0 0;
		
		.item{
			padding: 0 20px 0 0;

			figure{
				height: 400px;
			}
		}
	}
	
	@include media-breakpoint-up(lg){
		padding: 0;
		
		.item{
			padding: 0 30px 0 0;

			figure{
				max-height: 45vh;
			}
		}
	}
	
	@include media-breakpoint-up(xl){
		
		.item{
			padding: 0 30px 0 0;

			figure{
				height: 450px;
				max-height: 55vh;
			}
		}
	}
	
	@include media-breakpoint-up(xxl){
		
		.item{
			padding: 0 30px 0 0;

			figure{
				height: 550px;
				max-height: 60vh;
			}
		}
	}
	
}

@include media-breakpoint-up(lg){
	.about-images{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}
}


.servicios-lista{
	//min-height: calc(100vh - #{100px + $header-height-sm});
	
	.servicios{
		max-width: 350px;
		
		.nav{
			font-size: 1.4rem;
			
			.nav-link{
				color: inherit;
				padding: 10px 0;
				transition: all ease 0.2s;
				position: relative;
				
				span{
					display: inline-block;
				}
				
				&:hover{
					color: $primary;
					transform: scale(1.1) translateX(0.6em);
				}
			}
		}
	}
	
	@include media-breakpoint-up(md){
		min-height: calc(100vh - #{200px + $fixed-space-md});
		
		.servicios{
			min-width: 250px;
			padding-right: 30px;
		}
	}
	
	@include media-breakpoint-up(md){
		min-height: calc(100vh - #{200px + $fixed-space-lg});
	}
}

.slider-servicios{
	
	.slider{
		height: 100px;
		overflow: hidden;
		
		.item{
			
			figure{
				width: 100px;
				height: 200px;
				overflow: hidden;
				position: relative;
				
				img{
					opacity: 0;
				}
				
				&::before{
					display: block;
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					background-color: rgba(44,44,44,0.55);
				}
			}
		}
	}
	
	@include media-breakpoint-up(md){
		
		.slider{
			height: 200px;

			.item{

				figure{
					width: 200px;
					height: 200px;
				}
			}
		}
	}
}


.logo-detalle{
	width: 250px;
}

@include media-breakpoint-up(lg){
	
	.logo-detalle{
		width: 350px;
	}
}

.detalle-servicio{
	
	.img-detalle{
		margin: 0 auto;
	}
	
	.desc{
		max-width: 500px;
	}
	
	@include media-breakpoint-up(md){
		.img-detalle{
			max-width: 300px;
		}
		
		.desc{
			font-size: 1.3rem;
		}
	}
	
	@include media-breakpoint-up(lg){
		.img-detalle{
			max-width: 500px;
		}
	}
}

.rich-content{
	h2,h3,h4{
		margin-bottom: 0.6em;
	}
	
	p{
		margin-bottom: 1em;
	}
		
	ol, ul{
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		margin-bottom: 0;
		
		li{
			margin-bottom: 1em;
			
			&::before{
				display: inline-block;
				color: $primary;
				margin-right: 5px;
			}
		}
	}
	
	ul{
		
		li{
			
			&::before{
				font-size: 1.2em;
				content: '•';
			}
		}
	}
	
	ol{
		counter-reset: my-list-counter;
		
		li{
			counter-increment: my-list-counter;
			
			&::before{
				content: counter(my-list-counter);
				font-weight: $font-weight-bolder;
			}
		}
	}
	
	@include media-breakpoint-up(md){
		
		p{
			margin-bottom: 2em;
		}
		
		ol, ul{
			
			li{
				margin-bottom: 2em;
			}
		}
	}
}


.contacto{
	position: relative;
	
	.col-image{
		height: 300px;
		
		figure{
			overflow: hidden;
			
			img{
				opacity: 0;
			}
		}
	}
	
	@include media-breakpoint-up(md){
		
		.col-image{
			position: absolute;
			right: 0;
			top: 50%;
			height: 400px;
			height: 70vh;
			max-height: 600px;
			transform: translateY(-50%);
		}
	}
}


.form-st1{
	
	.form-group{
		margin-bottom: 25px;
		
		label{
			margin-bottom: 0;
		}
	}
	
	.form-control{
		border: none;
		border-bottom: 2px solid $gray-600;
		border-radius: 0;
		padding-left: 0;
		padding-right: 0;
		font-size: 1.2em;
		
		&:focus{
			border-bottom-color: $primary;
			outline: none;
			box-shadow: none;
		}
	}
	
	.btn-main{
		min-width: 200px;
	}
	
	@include media-breakpoint-up(md){
		.form-group{
			margin-bottom: 35px;
		}
	}
}


.form-st2{
	
	.form-group{
		margin-bottom: 25px;
	}
	
	.form-control{
		border: none;
		font-size: 1.2em;
		background-color: #D7D8DC;
		padding: 15px;
		height: 54px;
		
		&:focus{
			outline: none;
			box-shadow: none;
		}
		
		&::placeholder{
			font-weight: 300;
			color: #868589;
		}
	}
	
	.btn-main{
		min-width: 200px;
	}
	
	@include media-breakpoint-up(md){
		.form-group{
			margin-bottom: 35px;
		}
	}
}

.nice-select{
	height: 54px;
	background: #94d481;
	background: -moz-linear-gradient(top,  #94d481 0%, #50af5c 48%, #50af5c 100%);
	background: -webkit-linear-gradient(top,  #94d481 0%,#50af5c 48%,#50af5c 100%);
	background: linear-gradient(to bottom,  #94d481 0%,#50af5c 48%,#50af5c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d481', endColorstr='#50af5c',GradientType=0 );
	border: none;
	color: #fff;
	font-size: 1.2em;
	font-weight: $font-weight-bold;
	text-align: center;
	
	.current{
		line-height: 54px;
		position: relative;
		z-index: 2;
		display: block;
		text-align: center;
	}
	
	&::after{
		width: 14px;
		height: 14px;
		border-bottom: 3px solid #fff;
		border-right: 3px solid #fff;
		margin-top: -10px;
		right: 15px;
		z-index: 3;
	}
	
	.list{
		top: 0;
		padding-top: 64px;
		background: #94d481;
		background: -moz-linear-gradient(top,  #94d481 0%, #50af5c 48%, #50af5c 100%);
		background: -webkit-linear-gradient(top,  #94d481 0%,#50af5c 48%,#50af5c 100%);
		background: linear-gradient(to bottom,  #94d481 0%,#50af5c 48%,#50af5c 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d481', endColorstr='#50af5c',GradientType=0 );
		z-index: 1;
		border: none;
		margin: 0;
	}
	
	.option{
		position: relative;
		text-align: center;
		padding: 8px 15px;
		
		&::before{
			display: block;
			position: absolute;
			content: "";
			top: -1px;
			left: 15px;
			right: 15px;
			height: 1px;
			background-color: #009B3F;
		}
	}
	
	.option.focus,
	.option.selected,
	.option.selected.focus,
	.option:hover{
		background-color: #009B3F;
		margin: 0;
		
		&::before{
			left: 0;
			right: 0;
		}
	}
	
	.list:hover .option.selected:not(:hover){
		background-color: #009B3F !important;
	}
}

textarea.autosize{
	box-sizing: border-box;
	max-height: 400px; /* optional, but recommended */
	min-height: 31px;
	overflow: hidden; /* for Firefox (issue #5) */
}


.modal-fancy{
	max-width: 800px;
}

.fancybox-slide--video{
	padding: 44px 15px;
	
	.fancybox-content{
		//max-width: 1200px;
	}
}

.zindex-5{
	z-index: 5;
}


#footer{
	background-color: $secondary;
	color: white;
	font-weight: 300;
	font-size: 14px;
	z-index: 4;
	
	nav{
		
		.nav-link{
			position: relative;
			color: inherit;
			
			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	a.store{
		display: inline-block;
		width: 100px;
	}
	
	@include media-breakpoint-up(md){
		height: $footer-height-lg;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		
		nav{
		
			.nav-link{

				&:not(:last-child)::after{
					content: "";
					display: inline-block;
					width: 6px;
					height: 6px;
					position: absolute;
					background-color: white;
					border-radius: 50%;
					top: 50%;
					right: -3px;
					margin-top: -3px;
				}
			}
		}
	}
}

body.proximamente {
	background: #009B3F url(/p/img/bg-proximamente.jpg) 50% 50% / cover no-repeat;
	color: #fff;
}
#proximamente {
	text-align: center;
	padding: 185px 30px;
	min-height: 100vh;

	img {
		display: block;
		margin: 0 auto 30px;
		max-width: 85%;
	}
	h1 {
		font-size: 26px;
		line-height: 1.3;
		font-weight: normal;
		margin: 0 auto 65px;
	}
	.datos {
		a {
			font-size: 25px;
			color: $primary;
			font-weight: 700;
		}
	}
}

.datepicker table tr td.active,
.datepicker table tr td span.active{
	
	&.active,
	&.disabled, 
	&.disabled.active, 
	&.disabled.disabled, 
	&.disabled:active, 
	&.disabled:hover,
	&.disabled:hover.active, 
	&.disabled:hover.disabled, 
	&.disabled:hover:active, 
	&.disabled:hover:hover, 
	&.disabled:hover[disabled], 
	&.disabled[disabled], 
	&:active, 
	&:hover, 
	&:hover.active, 
	&:hover.disabled, 
	&:hover:active, 
	&:hover:hover, 
	&:hover[disabled], 
	&[disabled]{
		background:$primary !important;
		color: white !important;
	}
}
