// MIXINS o funciones varias para usar en scss

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// Misc

@mixin linkColor($color) {
    color: $color;
    &:hover, &:active, &:focus {
        color: lighten($color, 20%);
    }
}
@mixin btnBg($color) {
    background-color: $color;
  	@include transition(all .2s ease);
    &:hover, &:active, &:focus {
        background-color: lighten($color, 5%);
    }
}
@mixin btnOutline($px, $color) {
    background: transparent;
    color: $color;
    border: $px solid $color;
    opacity: 0.8;
  	@include transition(all .2s ease);
    &:hover, &:active, &:focus {
        color: lighten($color, 5%);
        border-color: lighten($color, 5%);
        opacity: 1;
    }
}
@mixin circle($tamano) {
    width: $tamano;
    height: $tamano;
    display: inline-block;
    border-radius: 1000px;
}
@mixin truncate() {
    width: 100%;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); // IE8
}
// @include opacity(0.8);

%clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
/* .container-with-floated-children {
 	@extend %clearfix;
} */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;
}
@mixin border-top-left-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-top-right-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}
@mixin border-bottom-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	background-clip: padding-box;
}
@mixin border-bottom-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	background-clip: padding-box;
}
// @include border-radius(15px);

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
/*
input,
textarea {
    @include input-placeholder {
        color: $grey;
    }
}
*/


@mixin box-shadow($args) {
    -moz-box-shadow:    $args;
    -webkit-box-shadow: $args;
    box-shadow:         $args;
}
// @include box-shadow(0px 4px 5px rgba(0,0,0,0.4));

@mixin text-shadow($args) {
    -moz-box-shadow:    $args;
    -webkit-box-shadow: $args;
    box-shadow:         $args;
}
// @include text-shadow(0px 4px 5px rgba(0,0,0,0.4));

/*@mixin scale($args) {
    -ms-transform: scale($args);
    -webkit-transform: scale($args);
    transform: scale($args);
}*/

@mixin scale($num1, $num2) {
    -ms-transform: scale($num1, $num2);
    -webkit-transform: scale($num1, $num2);
    transform: scale($num1, $num2);
}

@mixin translate($num1, $num2) {
  -ms-transform: translate($num1, $num2);
  -webkit-transform: translate($num1, $num2);
  transform: translate($num1, $num2);
}

@mixin va(){
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// Media queries

@mixin bp-large {
	@media only screen and (max-width: 60em) {
		@content;
	}
}
@mixin bp-medium {
	@media only screen and (max-width: 40em) {
		@content;
	}
}
@mixin bp-small {
	@media only screen and (max-width: 30em) {
		@content;
	}
}
/* EJEMPLO:
.sidebar {
	width: 60%;
	float: left;
	margin: 0 2% 0 0;
	@include bp-small {
		width: 100%;
		float: none;
		margin: 0;
	}
}
*/

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// Animations

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}
/*
@include keyframes(slide-down) {
	0% { opacity: 1; }
	90% { opacity: 0; }
}
.element {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('slide-down 5s 3');
}
*/

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// Transitions

@mixin transition($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
@mixin tr($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
/* EJEMPLO:
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
transition: <property> || <duration> || <timing-function> || <delay> [, ...];

Note that the duration must come before the delay if the latter is specified. Individual transitions combined in shorthand declarations:

-webkit-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-moz-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-ms-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
-o-transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
transition: height 0.3s ease-out, opacity 0.3s ease 0.5s;
*/

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
// Transitions
