// COLORES

$color-1: #be853c;
$color-2: #3866f0;

$color-dark-1: #000000;
$color-dark-2: #262a2f;
$color-gris: #8b97a5;
$color-gris-claro: #e8f0fa;

$color-primary: $color-1;
$color-secondary: $color-2;
$color-danger: #ff0000;

// +++++++++++++++++++++++++++++++++++++++++++++++++++++
// MEDIDAS

$header-h: 150px;
$header-compact-h: 70px;
$sec-padding: 95px 0 0;
