// Fuentes
//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,800&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,700,800&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,400i,600,700,800&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,700,900&display=swap');

// Importados de node_modules
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';
@import '~font-awesome/scss/font-awesome';
@import '~normalize.css/normalize';
@import '~aos/dist/aos.css';
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';
@import '~vex-js/dist/css/vex.css';
@import '~vex-js/dist/css/vex-theme-plain.css';
@import '~flexboxgrid/dist/flexboxgrid.css';
@import '~toastr/toastr';
@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';

// Importados de lib
//@import '../lib/jquery.fancybox.css';

// Custom
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'snippets';
@import 'styles';
@import 'media-queries';
