// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 1100px) {
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 992px) {

    .clinicas {
        //padding: 30px 30px 64px;
        column-count: 1;
    }
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 768px) {

    #header {
        .powered {
            right: 87px;
            top: 10px;
        }
    }
    #footer {
        .cols {
            .col, .col.col-redes, .col.col-info {
                flex: 0 0 100%;
                text-align: center;
                margin-bottom: 20px;
            }
            .col.col-info {
                margin-bottom: 0;
            }
        }
        .sponsors {
            .set {
                .titulo {
                }
                .lista {
                    img {
                        height: auto;
                        max-width: 60%;
                    }
                }
                &.main-set {
                    .lista img {
                        height: auto;
                        max-width: 85%;
                    }
                }
            }
        }
    }
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 650px) {
    .home-fondo {
        padding-top: 340px;
    }
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 550px) {
    .clinicas {
        padding: 30px 0px 64px;
    }

}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@media only screen and (max-width: 480px) {
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
