// DEFAULTS

body {
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
	font: inherit;
	color: inherit;
}
strong {
	font: inherit;
	color: inherit;
	font-weight: bold;
}
hr {
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	margin: 20px auto;
	height: 1px;
	background-color: #ddd;
	border-bottom: 1px solid #fff;
}

textarea,
input,
button {
	outline: none;
}

// CLASES ESPECIALES

.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}


.text-left,
.align-left {
	text-align: left;
}
.text-right,
.align-right {
	text-align: right;
}
.text-center,
.align-center {
	text-align: center;
}
.p-5 {
	padding: 5px;
}
.p-10 {
	padding: 10px;
}
.p-15 {
	padding: 15px;
}
.p-20 {
	padding: 20px;
}
.p-30 {
	padding: 30px;
}
.p-40 {
	padding: 40px;
}
.p-50 {
	padding: 50px;
}
.p-t-5 {
	padding-top: 5px;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-t-40 {
	padding-top: 40px;
}
.p-t-50 {
	padding-top: 50px;
}
.p-b-5 {
	padding-bottom: 5px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-30 {
	padding-bottom: 30px;
}
.p-b-40 {
	padding-bottom: 40px;
}
.p-b-50 {
	padding-bottom: 50px;
}
.p-r-5 {
	padding-right: 5px;
}
.p-r-10 {
	padding-right: 10px;
}
.p-r-15 {
	padding-right: 15px;
}
.p-r-20 {
	padding-right: 20px;
}
.p-r-30 {
	padding-right: 30px;
}
.p-r-40 {
	padding-right: 40px;
}
.p-r-50 {
	padding-right: 50px;
}
.p-l-5 {
	padding-left: 5px;
}
.p-l-10 {
	padding-left: 10px;
}
.p-l-15 {
	padding-left: 15px;
}
.p-l-20 {
	padding-left: 20px;
}
.p-l-30 {
	padding-left: 30px;
}
.p-l-40 {
	padding-left: 40px;
}
.p-l-50 {
	padding-left: 50px;
}
.m-t-5 {
	margin-top: 5px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-40 {
	margin-top: 40px;
}
.m-t-50 {
	margin-top: 50px;
}

// Wrapper para cuando voy a echo contenido de un text editor
.editor-cont {
	position: relative;
	img {
		max-width: 100%;
	}
	ul {
		padding-left: 25px;
		margin: 15px 0;
		li {
			list-style: square !important;
		}
	}
}

.whatsapp-btn {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 150;
	padding: 28px 34px;

	a.link {
		display: inline-block;
		text-decoration: none !important;
		@include border-radius(200px);
		width: 55px;
		height: 55px;
		overflow: hidden;
		position: relative;
		padding: 6px;
		background: #fff;

		img {
			width: 100%;
		}
	}
}
@media only screen and (max-width: 768px) {
	.whatsapp-btn {
		padding: 15px 15px;
	}
}

// LOADING
#loading {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: $color-primary;
	transition: all 0.4s ease;
	opacity: 0;

	.cont {
		text-align: center;
		color: #fff;
		img.svg-loader {
			width: 85px;
		}
		p {

		}
	}
	&.open {
		z-index: 400;
		opacity: 1;
	}
	&.ajax.open {
		z-index: 95;
	}
}

[v-cloak] { display:none; }

.txt-gris {
	color: $color-gris;
}

// ACA LOADEO OTROS SNIPPETS QUE QUIERO TENER SEPARADOS EN ARCHIVOS:

// Menu mobile
@import "custom/menu";

// Ajustes y addons a slick
@import "custom/slick";

// Ajustes a .form-control y cosas asi
@import "custom/forms-varios";

// Estilos que siempre uso para pages y secciones
@import "custom/pages-secciones";

// Spinners ajax loader svg
@import "custom/spinners";

// Mapa
@import "custom/mapa";

// Video viewer
@import "custom/video-viewer";

// Solid tabs
@import "custom/solid-tabs";
