html {}

body,
html {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    color: $color-dark-1;
    background: #fff;
    &.no-scrollbar {
        overflow-y: hidden;
    }
}

a, a:hover {
    color: $color-2;
}

.btn {
    border: 2px solid $color-1;
    color: #fff;
    padding: 9px 18px;
    background: $color-1;
    font-weight: bold;

    &:hover {
        color: #fff;
    }

    &.btn-linea {
        color: $color-1;
        background: transparent;
        border-color: $color-1;
        &:hover {
            color: $color-1 !important;
            background: transparent !important;;
            border-color: $color-1 !important;;
        }
        &.blanco, &.blanco:hover {
            border-color: #fff !important;
            color: #fff!important;
        }
    }
}

.title-huge {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 22px;
    line-height: 1.2;
}
.title-1 {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    color: $color-1;
    margin-bottom: 20px;
}
.title-2 {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    color: $color-1;
    margin-bottom: 20px;
}

.m {
    padding: 0 30px;
    max-width: 1600px;
    margin: 0 auto;
}

.heading {
    position: relative;
    padding-top: 25px;
    &:before {
        content: '';
        display: block;
        width: 40px;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        top: 0;
        height: 2px;
        background: $color-2;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.page {
    padding-top: 100px;
}

#header {
    border-bottom: 10px solid #be853c;
    background: #fff;
    padding: 5px 30px;
    height: 90px;

    .logo {
        img {
            height: 80px;
        }
    }
    .powered {
        position: absolute;
        right: 30px;
        top: 20px;

        p {
            font-size: 10px;
            margin-bottom: 6px;
        }
        img {
            width: 50px;
        }
    }
}

.home-fondo {
    width: 100%;
    position: relative;
    background: url('/p/img/img1.jpg') 50% 50% / cover no-repeat;
    padding-top: 600px;

    .cuadrito {
        position: absolute;
        left: 0;
        top: 0;
        width: 280px;
        background: rgba($color-1, 0.7);

        img {
            max-width: 80%;
            display: block;
            margin: 0 auto;
        }
        .mensaje {
            background: $color-1;
            padding: 10px;
            color: #fff;
            width: 100%;

        }
    }

    .cuadro {
        background: rgba(#222, 0.6);
        padding: 44px 0;
        .cont {
            color: #fff;
            text-align: center;

            h1 {
                font-size: 30px;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 20px;
            }
            .botones {

                .btn {

                }
            }
        }
    }
}

#footer {
    background: #2c2d2c;
    color: #fff;
    padding: 30px 30px;
    width: 100%;

    .cols {
        display: flex;
        flex-wrap: wrap;

        .col {
            flex: 0 0 50%;
            p {
                margin-bottom: 10px;
            }
            &.col-redes {
                text-align: left;
                .redes {
                    margin-bottom: 10px;
                    a {
                        img {
                            width: 28px;
                        }
                    }
                }
            }
            &.col-info {
                text-align: right;
            }
            p {

            }
        }
    }

    .sponsors {
        text-align: center;
        padding: 20px 0 0;

        .set {
            display: block;
            margin: 30px 0 30px;

            .titulo {
                margin-bottom: 15px;
            }
            .lista {
                img {
                    height: 100px;

                }
            }
            &.main-set {
                .lista img {
                    height: 124px;
                }
            }
        }
    }
}

.clinicas {
    padding: 30px 30px 64px;
    column-count: 2;
    column-gap: 80px;

    h1 {
        color: $color-1;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.2;
        margin: 0px 0 30px;
    }
    h2 {
        font-weight: bold;
        line-height: 1.2;
        font-size: 27px;
        margin: 15px 0 25px;
    }
    .texto {
        p {
            margin-bottom: 15px;
        }
    }
    ul {
        padding-left: 15px;
        li {
            padding-left: 10px;
            list-style: square;
            margin-bottom: 10px;
        }
    }
    .btn-cont {
        padding: 30px 0 0;
        .btn {

        }
    }
}

#challengePage {
    padding: 110px 0 90px;
    .m {
        max-width: 1000px;
    }
    .txt-intro {
        font-size: 1.1rem;
        margin-bottom: 30px;
    }
    .date-prisa {
        font-size: 1.33rem;
        margin-bottom: 44px;
        color: $color-1;
        font-weight: bold;
    }
    .formulario-inscripcion {
        background: #f2f2f2;
        padding: 30px;
        @include border-radius(20px);
        h2 {
            text-transform: uppercase;
            color: #777;
            font-weight: bold;
            margin: 0 0 30px;
            font-size: 1.25rem;
            letter-spacing: 2px;
        }
        hr {
            margin: 30px 0;
        }
        .form-group {
            .label {
                color: #777;
                margin-bottom: 4px;
                font-weight: bold;
            }
        }
        .exp-terminos {
            padding: 10px 0;
            max-width: 425px;
            p {
                font-weight: 300;
                text-align: justify;
                color: #444;
                margin-bottom: 5px;
                font-size: 0.85rem;
                line-height: 1.2;
                &:before {
                    content: '* ';
                }
            }
        }
    }
}

.lista-spirit {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 154px;

    .elem {
        position: relative;
        height: auto;
        flex: 0 0 400px;
        margin: 0 10px 44px;
        max-width: 100%;
        .img {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .hover-content {
            width: 100%;
            position: relative;
            z-index: 2;
            text-align: center;
            h2 {
                font-size: 22px;
                font-weight: bold;
            }
            .foot {
            }
        }
    }
}

.hey-no-touch {

    .lista-spirit {
        .elem {
            margin: 0 10px 20px;
            .img {
                height: 100%;
            }
            &:hover {
                .hover-content {
                    opacity: 1;
                }
            }
            .hover-content {
                cursor: default;
                opacity: 0;
                @include tr(all 0.44s ease);
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(#0c0c0c, 0.6);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                h2 {
                    margin-bottom: 30px;
                    color: #fff;
                    font-size: 27px;
                }
                .foot {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    color: #fff;
                    background: #0c0c0c;
                    padding: 20px 0;
                    font-size: 1.15rem;
                }
            }
        }
    }
}

