@charset "UTF-8";
:focus {
  outline: none; }

.wow {
  visibility: hidden; }

.wrap {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }

.mw-960 {
  max-width: 960px; }

figure {
  margin-bottom: 0; }

.bg-cover {
  background-size: cover;
  background-position: center center; }

img {
  max-width: 100%;
  height: auto; }

.text-hidden {
  height: 1px;
  overflow: hidden;
  padding-top: 1px;
  font-size: 0.001em;
  opacity: 0;
  margin: 0; }

/***** STYLE ******/
html {
  scroll-behavior: smooth; }

#hdr {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 54px;
  z-index: 5;
  background-color: transparent;
  transition: all ease 0.2s; }
  #hdr .logo {
    display: inline-block;
    width: 84px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left top; }
  #hdr.no-logo .logo {
    display: none; }
  #hdr .btn-green {
    background-color: #009B3F;
    color: white;
    vertical-align: middle;
    font-size: 12px; }
    #hdr .btn-green.active {
      display: none; }
  #hdr a.btn-menu {
    display: inline-block;
    width: 36px;
    text-decoration: none;
    position: relative;
    vertical-align: middle;
    margin-left: 15px;
    z-index: 25; }
    #hdr a.btn-menu span {
      display: none; }
    #hdr a.btn-menu::before, #hdr a.btn-menu::after {
      content: "";
      display: block;
      height: 6px;
      border-radius: 3px;
      background-color: #2C2C2C;
      transition: all ease 0.2s; }
    #hdr a.btn-menu::before {
      margin-bottom: 8px; }
  #hdr.fixed-hdr, #hdr.green-hdr {
    background-color: #009B3F;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
    #hdr.fixed-hdr .btn-green, #hdr.green-hdr .btn-green {
      background-color: white;
      color: #009B3F; }
  #hdr.light-hdr .logo, #hdr.fixed-hdr .logo, #hdr.green-hdr .logo {
    background-image: url("../img/logo-blanco.png"); }
    #hdr.light-hdr .logo img, #hdr.fixed-hdr .logo img, #hdr.green-hdr .logo img {
      opacity: 0; }
  #hdr.light-hdr a.btn-menu::before, #hdr.light-hdr a.btn-menu::after, #hdr.fixed-hdr a.btn-menu::before, #hdr.fixed-hdr a.btn-menu::after, #hdr.green-hdr a.btn-menu::before, #hdr.green-hdr a.btn-menu::after {
    background-color: white; }
  @media (min-width: 768px) {
    #hdr {
      height: 74px; }
      #hdr .btn-green {
        font-size: 1rem; }
      #hdr a.btn-menu {
        width: 48px;
        margin-left: 24px; }
        #hdr a.btn-menu::before, #hdr a.btn-menu::after {
          height: 8px;
          border-radius: 4px; }
        #hdr a.btn-menu::before {
          margin-bottom: 10px; } }
  @media (min-width: 992px) {
    #hdr {
      height: 94px; }
      #hdr .logo {
        width: 150px; } }

.padding-header {
  padding-top: 54px !important; }

@media (min-width: 768px) {
  .padding-header,
  .padding-header-md {
    padding-top: 74px !important; } }
@media (min-width: 992px) {
  .padding-header,
  .padding-header-md,
  .padding-header-lg {
    padding-top: 94px !important; } }
#menu {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  background-color: white;
  transition: width ease 0.3s;
  font-size: 1.2rem; }
  #menu .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    overflow: auto; }
    #menu .wrapper .nav {
      padding-top: 80px; }
  #menu .nav-link {
    padding: 15px; }
    #menu .nav-link.active {
      font-weight: 700;
      text-decoration: underline; }
  @media (min-width: 768px) {
    #menu {
      font-size: 1.5rem; }
      #menu .wrapper {
        width: 350px; }
        #menu .wrapper .nav {
          padding-top: 100px; }
      #menu .nav-link {
        padding: 15px 25px; } }

.mn-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 18;
  display: none; }

body.mostrar-menu-ppal {
  overflow: hidden; }
  body.mostrar-menu-ppal #hdr a.btn-menu::before, body.mostrar-menu-ppal #hdr a.btn-menu::after {
    background-color: #2C2C2C; }
  body.mostrar-menu-ppal #hdr a.btn-menu::before {
    transform: translateY(7px) rotate(135deg); }
  body.mostrar-menu-ppal #hdr a.btn-menu::after {
    transform: translateY(-7px) rotate(-135deg); }
  body.mostrar-menu-ppal #menu {
    width: 250px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  body.mostrar-menu-ppal .mn-overlay {
    display: block; }
  @media (min-width: 768px) {
    body.mostrar-menu-ppal #hdr a.btn-menu::before {
      transform: translateY(9px) rotate(135deg); }
    body.mostrar-menu-ppal #hdr a.btn-menu::after {
      transform: translateY(-9px) rotate(-135deg); }
    body.mostrar-menu-ppal #menu {
      width: 350px; } }

#main {
  position: relative;
  z-index: 2;
  overflow: hidden; }
  #main .main-content {
    min-height: calc(100vh - 200px);
    padding-top: 25px;
    padding-bottom: 25px; }
  @media (min-width: 768px) {
    #main {
      padding-bottom: 64px; }
      #main .main-content {
        min-height: calc(100vh - 64px); }
        #main .main-content.centered {
          display: flex;
          align-items: center; }
          #main .main-content.centered > div {
            width: 100%; }
      #main.padding-header .main-content {
        min-height: calc(100vh - 138px); } }
  @media (min-width: 992px) {
    #main.padding-header .main-content {
      min-height: calc(100vh - 158px); } }

.intro-omni {
  max-width: 500px;
  text-align: justify; }
  .intro-omni figure {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto; }
  @media (min-width: 768px) {
    .intro-omni {
      padding-top: 60px; } }
  @media (min-width: 992px) {
    .intro-omni figure {
      max-width: none; } }

/*.col-home{
	
	@include media-breakpoint-up(lg){
		margin-bottom: -30px;
	}
}*/
.box-service-home {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-color: #2C2C2C;
  margin-bottom: 30px; }
  .box-service-home > a {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(44, 44, 44, 0.55);
    text-decoration: none;
    transition: all ease 0.2s; }
    .box-service-home > a span {
      text-transform: uppercase;
      color: white;
      transition: all ease 0.2s; }
    .box-service-home > a:hover {
      background-color: rgba(0, 155, 63, 0.7); }
      .box-service-home > a:hover span {
        transform: scale(1.2); }
  .box-service-home.lg {
    height: 350px; }
  @media (min-width: 992px) {
    .box-service-home.lg {
      height: 450px;
      max-height: 50vh; } }
  @media (min-width: 1367px) {
    .box-service-home {
      height: 250px;
      max-height: 60vh; }
      .box-service-home.lg {
        height: 450px;
        max-height: 55vh; } }

.btn-about {
  display: block;
  position: absolute;
  width: 36px;
  height: 54px;
  z-index: 10;
  bottom: 125px;
  transform: translateY(50%);
  transition: all ease 0.2s;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5)); }
  .btn-about span {
    display: none; }
  .btn-about::before, .btn-about::after {
    content: "";
    display: block;
    width: 40px;
    height: 6px;
    border-radius: 3px;
    background-color: white;
    transition: all ease 0.2s;
    position: absolute; }
  .btn-about.btn-prev {
    left: 20px; }
    .btn-about.btn-prev::before {
      transform: rotate(135deg);
      top: 12px;
      left: 0; }
    .btn-about.btn-prev::after {
      transform: rotate(-135deg);
      bottom: 12px;
      left: 0; }
  .btn-about.btn-next {
    right: 20px; }
    .btn-about.btn-next::before {
      transform: rotate(-135deg);
      top: 12px;
      left: 0; }
    .btn-about.btn-next::after {
      transform: rotate(135deg);
      bottom: 12px;
      left: 0; }
  .btn-about.slick-disabled {
    visibility: hidden; }
  @media (min-width: 768px) {
    .btn-about {
      bottom: 200px; } }
  @media (min-width: 992px) {
    .btn-about {
      bottom: 50%; }
      .btn-about.btn-prev {
        filter: none; }
        .btn-about.btn-prev::before, .btn-about.btn-prev::after {
          background-color: #2C2C2C; } }

.about-textos {
  position: relative;
  z-index: 5; }

.slider-about-textos {
  position: relative;
  padding: 0 15px;
  margin: 0 0 30px 0; }
  .slider-about-textos .item {
    opacity: 0;
    transition: opacity 02s ease; }
    .slider-about-textos .item.slick-active, .slider-about-textos .item.slick-current {
      opacity: 1; }
  .slider-about-textos .info-about .h1 {
    line-height: 1;
    margin-bottom: 0.4em; }
  .slider-about-textos .info-about p:last-child {
    margin-bottom: 0; }
  @media (min-width: 992px) {
    .slider-about-textos {
      margin: 0;
      padding: 0; }
      .slider-about-textos .item {
        min-height: 60vh;
        display: flex;
        align-items: center; }
      .slider-about-textos .info-about {
        width: 100%; }
        .slider-about-textos .info-about .h1 {
          overflow: visible;
          max-width: 500px; }
      .slider-about-textos .title, .slider-about-textos .desc {
        padding-left: 84px;
        padding-right: 20px; } }
  @media (min-width: 1367px) {
    .slider-about-textos .title, .slider-about-textos .desc {
      padding-left: 0; } }

.slider-about-images {
  position: relative; }
  .slider-about-images .slick-list {
    overflow: visible; }
  .slider-about-images .item figure {
    height: 250px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative; }
    .slider-about-images .item figure img {
      opacity: 0; }
    .slider-about-images .item figure::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(44, 44, 44, 0.55);
      opacity: 1;
      transition: opacity ease 0.2s; }
  .slider-about-images .item.slick-active figure::before, .slider-about-images .item.slick-current figure::before {
    opacity: 0; }
  @media (min-width: 768px) {
    .slider-about-images {
      padding: 0 100px 0 0; }
      .slider-about-images .item {
        padding: 0 20px 0 0; }
        .slider-about-images .item figure {
          height: 400px; } }
  @media (min-width: 992px) {
    .slider-about-images {
      padding: 0; }
      .slider-about-images .item {
        padding: 0 30px 0 0; }
        .slider-about-images .item figure {
          max-height: 45vh; } }
  @media (min-width: 1200px) {
    .slider-about-images .item {
      padding: 0 30px 0 0; }
      .slider-about-images .item figure {
        height: 450px;
        max-height: 55vh; } }
  @media (min-width: 1367px) {
    .slider-about-images .item {
      padding: 0 30px 0 0; }
      .slider-about-images .item figure {
        height: 550px;
        max-height: 60vh; } }

@media (min-width: 992px) {
  .about-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; } }
.servicios-lista .servicios {
  max-width: 350px; }
  .servicios-lista .servicios .nav {
    font-size: 1.4rem; }
    .servicios-lista .servicios .nav .nav-link {
      color: inherit;
      padding: 10px 0;
      transition: all ease 0.2s;
      position: relative; }
      .servicios-lista .servicios .nav .nav-link span {
        display: inline-block; }
      .servicios-lista .servicios .nav .nav-link:hover {
        color: #009B3F;
        transform: scale(1.1) translateX(0.6em); }
@media (min-width: 768px) {
  .servicios-lista {
    min-height: calc(100vh - 338px); }
    .servicios-lista .servicios {
      min-width: 250px;
      padding-right: 30px; } }
@media (min-width: 768px) {
  .servicios-lista {
    min-height: calc(100vh - 358px); } }

.slider-servicios .slider {
  height: 100px;
  overflow: hidden; }
  .slider-servicios .slider .item figure {
    width: 100px;
    height: 200px;
    overflow: hidden;
    position: relative; }
    .slider-servicios .slider .item figure img {
      opacity: 0; }
    .slider-servicios .slider .item figure::before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(44, 44, 44, 0.55); }
@media (min-width: 768px) {
  .slider-servicios .slider {
    height: 200px; }
    .slider-servicios .slider .item figure {
      width: 200px;
      height: 200px; } }

.logo-detalle {
  width: 250px; }

@media (min-width: 992px) {
  .logo-detalle {
    width: 350px; } }
.detalle-servicio .img-detalle {
  margin: 0 auto; }
.detalle-servicio .desc {
  max-width: 500px; }
@media (min-width: 768px) {
  .detalle-servicio .img-detalle {
    max-width: 300px; }
  .detalle-servicio .desc {
    font-size: 1.3rem; } }
@media (min-width: 992px) {
  .detalle-servicio .img-detalle {
    max-width: 500px; } }

.rich-content h2, .rich-content h3, .rich-content h4 {
  margin-bottom: 0.6em; }
.rich-content p {
  margin-bottom: 1em; }
.rich-content ol, .rich-content ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0; }
  .rich-content ol li, .rich-content ul li {
    margin-bottom: 1em; }
    .rich-content ol li::before, .rich-content ul li::before {
      display: inline-block;
      color: #009B3F;
      margin-right: 5px; }
.rich-content ul li::before {
  font-size: 1.2em;
  content: '•'; }
.rich-content ol {
  counter-reset: my-list-counter; }
  .rich-content ol li {
    counter-increment: my-list-counter; }
    .rich-content ol li::before {
      content: counter(my-list-counter);
      font-weight: 800; }
@media (min-width: 768px) {
  .rich-content p {
    margin-bottom: 2em; }
  .rich-content ol li, .rich-content ul li {
    margin-bottom: 2em; } }

.contacto {
  position: relative; }
  .contacto .col-image {
    height: 300px; }
    .contacto .col-image figure {
      overflow: hidden; }
      .contacto .col-image figure img {
        opacity: 0; }
  @media (min-width: 768px) {
    .contacto .col-image {
      position: absolute;
      right: 0;
      top: 50%;
      height: 400px;
      height: 70vh;
      max-height: 600px;
      transform: translateY(-50%); } }

.form-st1 .form-group {
  margin-bottom: 25px; }
  .form-st1 .form-group label {
    margin-bottom: 0; }
.form-st1 .form-control {
  border: none;
  border-bottom: 2px solid #6c757d;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2em; }
  .form-st1 .form-control:focus {
    border-bottom-color: #009B3F;
    outline: none;
    box-shadow: none; }
.form-st1 .btn-main {
  min-width: 200px; }
@media (min-width: 768px) {
  .form-st1 .form-group {
    margin-bottom: 35px; } }

.form-st2 .form-group {
  margin-bottom: 25px; }
.form-st2 .form-control {
  border: none;
  font-size: 1.2em;
  background-color: #D7D8DC;
  padding: 15px;
  height: 54px; }
  .form-st2 .form-control:focus {
    outline: none;
    box-shadow: none; }
  .form-st2 .form-control::placeholder {
    font-weight: 300;
    color: #868589; }
.form-st2 .btn-main {
  min-width: 200px; }
@media (min-width: 768px) {
  .form-st2 .form-group {
    margin-bottom: 35px; } }

.nice-select {
  height: 54px;
  background: #94d481;
  background: -moz-linear-gradient(top, #94d481 0%, #50af5c 48%, #50af5c 100%);
  background: -webkit-linear-gradient(top, #94d481 0%, #50af5c 48%, #50af5c 100%);
  background: linear-gradient(to bottom, #94d481 0%, #50af5c 48%, #50af5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d481', endColorstr='#50af5c',GradientType=0 );
  border: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center; }
  .nice-select .current {
    line-height: 54px;
    position: relative;
    z-index: 2;
    display: block;
    text-align: center; }
  .nice-select::after {
    width: 14px;
    height: 14px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    margin-top: -10px;
    right: 15px;
    z-index: 3; }
  .nice-select .list {
    top: 0;
    padding-top: 64px;
    background: #94d481;
    background: -moz-linear-gradient(top, #94d481 0%, #50af5c 48%, #50af5c 100%);
    background: -webkit-linear-gradient(top, #94d481 0%, #50af5c 48%, #50af5c 100%);
    background: linear-gradient(to bottom, #94d481 0%, #50af5c 48%, #50af5c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94d481', endColorstr='#50af5c',GradientType=0 );
    z-index: 1;
    border: none;
    margin: 0; }
  .nice-select .option {
    position: relative;
    text-align: center;
    padding: 8px 15px; }
    .nice-select .option::before {
      display: block;
      position: absolute;
      content: "";
      top: -1px;
      left: 15px;
      right: 15px;
      height: 1px;
      background-color: #009B3F; }
  .nice-select .option.focus,
  .nice-select .option.selected,
  .nice-select .option.selected.focus,
  .nice-select .option:hover {
    background-color: #009B3F;
    margin: 0; }
    .nice-select .option.focus::before,
    .nice-select .option.selected::before,
    .nice-select .option.selected.focus::before,
    .nice-select .option:hover::before {
      left: 0;
      right: 0; }
  .nice-select .list:hover .option.selected:not(:hover) {
    background-color: #009B3F !important; }

textarea.autosize {
  box-sizing: border-box;
  max-height: 400px;
  /* optional, but recommended */
  min-height: 31px;
  overflow: hidden;
  /* for Firefox (issue #5) */ }

.modal-fancy {
  max-width: 800px; }

.fancybox-slide--video {
  padding: 44px 15px; }

#footer {
  background-color: #2C2C2C;
  color: white;
  font-weight: 300;
  font-size: 14px;
  z-index: 4; }
  #footer nav .nav-link {
    position: relative;
    color: inherit; }
    #footer nav .nav-link:hover {
      text-decoration: underline; }
  #footer a.store {
    display: inline-block;
    width: 100px; }
  @media (min-width: 768px) {
    #footer {
      height: 64px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%; }
      #footer nav .nav-link:not(:last-child)::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        position: absolute;
        background-color: white;
        border-radius: 50%;
        top: 50%;
        right: -3px;
        margin-top: -3px; } }
