
/* AJUSTES DROPZONE */
.galeria-cont {
    position: relative;
}
.galeria-cont {
    .submit-cont {
        padding: 20px 0 0;
        .btn {
            margin: 0;
        }
    }
}
.galeria-progress {
    margin: 10px 0 0;
    opacity: 0;
    .progress-bar {
    }
}
.galeria-actual {
    font-size: 0;
    .img {
        display: inline-block;
        font-size: 14px;
        margin: 0 10px 20px;
        position: relative;
        .fancybox {
            display: block;
            margin: 0 0 5px;
            border-radius: 8px;
            overflow: hidden;
        }
        .borrar {
            display: block;
            text-align: center;
        }
    }
}

.dropzone {
    min-height: 200px;
    border: 2px dashed #98a6ad;
    // background: #323b44;
    background: transparent;
    /*padding: 40px 20px;*/
    color: #98a6ad;

    .dz-default.dz-message span {
        font-size: 1.44em;
        display: block;
        padding-top: 10px;
    }
    .dz-preview {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 16px;
        min-height: 100px;

        .dz-image {
            border-radius: 0;
            width: 120px;
            height: 120px;
            margin: 0 auto;
        }
        .form-group {
            padding-top: 10px;
            margin-bottom: 0;
            input {
                width: 120px;
                padding: 3px 5px;
                height: 27px;
                font-size: 0.85em;
                letter-spacing: -0.5px;
            }
        }
        .dz-progress .dz-upload {
            background: #0A90BA;
        }
    }
    .dz-preview.dz-image-preview {
        background-color: #eee;
        padding: 10px;
        text-align: center;
        border: 1px solid #e4e4e4;
    }
}
