
.heymodal {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1020;

    .heymodal-bg {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
        background: rgba(0,0,0,0.75);
    }
    .heymodal-cuadro {
        z-index: 2;
        background: #fff;
        position: relative;
        top: 25px;
        left: 50%;
        top: 0;
        margin-left: -50%;
        width: 100%;
        height: 100%;
        @include border-radius(0px);
        @extend %clearfix;

        $heymodal-footer-h: 44px;
        $heymodal-header-h: 85px;
        //$heymodal-content-h: calc(100vh - (#{$heymodal-footer-h}) - (#{$heymodal-header-h}));
        $heymodal-content-h: calc(100vh - (#{$heymodal-header-h}));

        .heymodal-header {
            @extend %clearfix;
            float: left;
            background: #fff;
            height: $heymodal-header-h;
            width: 100%;
            padding: 25px 18px 0;

            .ops-left {
                position: relative;
                float: left;
                width: 50%;

                .title {
                    line-height: 1;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #888;
                    float: left;
                    margin: 7px 20px 0 0;
                }
                .filtros {
                    @extend %clearfix;
                    .fil {
                        float: left;
                        margin-right: 4px;

                        &#filtroBuscar {
                            margin-right: 15px;
                            width: 175px;
                        }

                        .btn {

                        }
                        &#filtroBuscar {

                        }
                        &#filtroFormatos {
                            .dropdown-menu {
                                width: 400px;
                                padding: 12px 15px;
                                ul {
                                    margin: 0;
                                    padding: 0;
                                    column-count: 2;
                                    column-gap: 20px;
                                    li {
                                        list-style: none;
                                        padding: 0;
                                        margin: 0;
                                        input {
                                            margin-right: 5px;
                                            position: relative;
                                            top: 1px;
                                        }
                                    }
                                }
                            }
                        }
                        &#filtroOrdenar {
                            .dropdown-menu {
                                width: 175px;
                                li {
                                    a {
                                        i {
                                            float: right;
                                            position: relative;
                                            top: 3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .btn-group {
                    &.txt {
                        padding-left: 7px;
                        padding-right: 7px;
                        strong {
                            margin-left: 4px;
                        }
                    }
                }
            }
            .ops-right {
                position: relative;
                float: right;
                
                .btn {
                    
                }
                .dropdown-cont {
                    display: inline-block;
                    .btn-group.dropdown {
                        .btn {
                            
                        }
                        .dropdown-menu {
                            &.active {
                                display: block;
                            }
                        }
                    }
                }

                .heymodal-cerrar {
                    position: relative;
                    padding: 5px;
                    margin-left: 25px;
                    color: #555 !important;
                    i {
                        font-size: 17px;
                    }
                }
            }
        }
        .heymodal-content {
            @extend %clearfix;
            float: left;
            width: 100%;
            height: $heymodal-content-h;
            background: $color-gris-claro;
            overflow-y: auto;
            position: relative;

            .navigation-bar {
                background: #e5e5e5;
                width: 100%;
                height: 44px;
                padding: 11px 20px;
                a {
                    color: #777 !important;
                    text-decoration: none !important;
                    &:hover {
                        color: #222 !important;
                    }
                }
                .nav-bar-right {
                    float: right;
                    a {
                        color: #555;
                        margin-left: 15px;
                    }
                }
                .subir-folder {
                    color: #555;
                    margin-right: 15px;
                    i {
                        margin-right: 3px;
                    }
                }
                .actual {
                    color: #555;
                    font-weight: 700;
                    i {
                        margin-right: 4px;
                    }
                }

            }
            .loading-archivos {
                text-align: center;
                padding-top: 17%;
            }
            .no-hay {
                text-align: center;
                padding: 44px 15px 20px;
                max-width: 600px;
                margin: 0 auto;

                p {
                    color: #555;
                    margin: 0 auto 30px;
                }
                .btn {

                }
            }
        }
        .heymodal-footer {
            @extend %clearfix;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: $heymodal-footer-h;
            background: #fff;
        }
    }
}

$tamano-cuadros: 12.5vw;
$tamano-cuadros_perc: 12.5%;
.lista-media {
    padding: 5px;
    @extend %clearfix;
    .elem {
        position: relative;
        display: block;
        width: $tamano-cuadros_perc;
        float: left;
        padding: 10px;
        overflow: hidden;
        @include transition(all 0.2s ease);
        &:hover {
            opacity: 0.8;
        }
        .cuadro {
            cursor: pointer;
            position: relative;

            .img {
                position: relative;
                background-color: #e5e5e5;
                z-index: 1;
                width: 100%;
                //height: 270px;
                height: $tamano-cuadros;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
                @include border-radius(4px);
                @include transition(all 0.2s ease);
                text-align: center;

                &.folder {
                    background-color: transparent;
                    background-image: url('/a/img/folder.png');
                    background-size: 85% auto;
                    background-position: 50% 75%;
                }
            }
            .sel-overlay {
                width: 100%;
                height: $tamano-cuadros;
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                background: rgba(12, 208, 240, 0.7);
                opacity: 0;
                i {
                    color: #fff;
                    font-size: 24px;
                    position: absolute;
                    right: 10px;
                    top: 8px;
                }
            }
            &.sel {
                .img {
                    border: 5px solid $color-primary;
                }
                .sel-overlay {
                    opacity: 1;
                }
            }
            .info {
                padding: 10px 0 0;
                text-align: center;
                .nombre {
                    @include truncate();
                    width: 100%;
                    margin: 0 0 3px;
                    font-weight: bold;
                }
                .tipo {
                    @include truncate();
                    width: 100%;
                    font-size: 0.85em;
                    opacity: 0.5;
                    margin: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .lista-media .elem {
        width: 14%;
        .cuadro {
            .img, .sel-overlay {
                height: 14vw;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .lista-media .elem {
        width: 25%;
        .cuadro {
            .img, .sel-overlay {
                height: 25vw;
            }
        }
    }
}

#mediaDropzone {
    position: fixed; top: 0; left: 0;
    z-index: 9999999999;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: visibility 175ms, opacity 175ms;
    background: rgba($color-primary,.8);

    visibility:hidden;
    opacity:0
}

#imageCropperModal {
    z-index: 1025;
    /*.heymodal-cuadro {
        width: 86%;
        margin-left: -43%;
        height: 90vh;
    }*/
    .heymodal-content {
        #imgEditarImagen {
            max-width: 100%;
        }
    }
}
#mediaManagerModal {
    z-index: 1020;
    #enviandoArchivosLoading {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        height: 100%;
        background: rgba(255,255,255,0.3);
        @include transition(opacity 0.2s ease);
        z-index: 10;

        &.open {
            opacity: 1;
            visibility: visible;
        }
        .cuadro-enviando {
            position: fixed;
            text-align: center;
            width: 400px;
            margin-left: -200px;
            left: 50%;
            top: 40%;
            background: #fff;
            padding: 44px 20px;
        }
    }
}

#modalEditarImagen {
    #modalEditarCont {
        position: relative;
        #imgEditarImagen {
            max-width: 100%;
        }
        #modalEditarToolbar{
            postion: fixed;
            bottom: 0;
            left: 0;
            width: 100vw;
            z-index: 5;
            padding: 30px;
        }
    }
}

#loadingVue {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100vh;
    padding-top: 15%;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.3s ease);

    &.on {
        visibility: visible;
        opacity: 1;
        z-index: 999999999999;
    }
    .loader {
        @include border-radius(5px);
        @include box-shadow(0px 2px 12px rgba(0,0,0,0.1));
        background: $color-gris-claro;
        padding: 50px;
        text-align: center;
        margin: 0 auto;
        width: 270px;
        position: absolute;
        left: 50%;
        margin-left: -135px;
        top: 29%;

        img {
            display: block;
            margin: 0 auto 15px;
        }
        p {
            margin: 0;
        }
    }
}
