
table.table1 {
    thead {
        tr {
            th {
                border-top: 0;
                font-size: 0.9rem;
            }
        }
    }
    tbody {
        tr {
            td {
                padding-top: 12px;
                padding-bottom: 12px;
                font-size: 0.9rem;

                .img-circ {
                    display: block;
                    width: 44px;
                    height: 44px;
                    border: 1px solid #ddd;
                    background-size: cover;
                    background-position: 50% 50%;
                    @include border-radius(200px);
                }
                ul {
                    padding: 0;
                    li {
                        list-style: none;
                    }
                }

                &:first-child {
                    padding-left: 1em;
                }

            }
        }
    }

    td.td-img, th.td-img {
        width: 50px;
        text-align: center !important;
    }
    td.td-id, th.td-id {
        width: 50px;
        text-align: center !important;
    }
    td.td-ops, th.td-ops, td.td-destacado {
        text-align: center;
        width: 240px;
        padding-right: 20px;
        padding-top: 8px;
        padding-bottom: 8px;

        .switchery {
            position: relative;
            top: -1px;
            margin-right: 10px;
        }
        a {
            margin-left: 10px;
            padding: 5px;
            display: inline-block;
            color: #777;
        }
        span.label {
            margin-right: 10px;
        }
    }
    td.td-destacado {
        width: 120px;
    }
}
